<div class="row justify-content-center">
  <div class="col-md-8 col-lg-6">

<h2>Görev Düzenle</h2>

<%= form_with model: @task do |f| %>

  <div class="mb-3">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :description %>
    <%= f.text_area :description, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :status %>
    <%= f.select :status,
      Task.statuses.keys.map { |s| [s.humanize, s] },
      {},
      class: "form-select" %>
  </div>

  <div class="mb-3">
    <%= f.label :priority %>
    <%= f.select :priority,
      Task.priorities.keys.map { |p| [p.humanize, p] },
      {},
      class: "form-select" %>
  </div>

  <button type="button"class="btn btn-warning"onclick="showConfirm(
      'Güncelle',
      'Kaydedilsin mi?',
      this.closest('form')
    )">

    Güncelle
  </button>

  <%= link_to "Geri", tasks_path, class: "btn btn-secondary ms-2" %>

<% end %>

  </div>
</div>
