<div class="d-flex flex-wrap justify-content-between mb-4">

  <h2>Görevlerim</h2>

  <div class="d-flex gap-3 flex-wrap">

    <%= link_to "➕ Yeni Görev",
      new_task_path,
      class: "btn btn-success btn-lg" %>

    <%= link_to "🔼 Önceliğe Göre Artan Sıralama",
      tasks_path(sort: "priority_asc"),
      class: "btn btn-primary btn-lg" %>

    <%= link_to "🔽 Önceliğe Göre Azalan Sıralama",
      tasks_path(sort: "priority_desc"),
      class: "btn btn-dark btn-lg" %>

  </div>

</div>

<div class="table-responsive" id="tasks-list">

<table class="table table-bordered table-hover">

<thead class="table-dark">
<tr>
  <th>Başlık</th>
  <th>Açıklama</th>
  <th>Durum</th>
  <th>Öncelik</th>
  <th>İşlem</th>
</tr>
</thead>

<tbody>

<% @tasks.each do |task| %>

<tr>

<td><%= task.title %></td>
<td><%= task.description %></td>

<!-- DURUM -->
<td>

  <% status_class =
    case task.status
    when "bekliyor" then "bg-warning"
    when "devam_ediyor" then "bg-primary"
    when "tamamlandi" then "bg-success"
    end %>

  <span class="badge <%= status_class %>">
    <%= task.status.humanize %>
  </span>

</td>

<!-- ÖNCELİK -->
<td>

  <% priority_class =
    case task.priority
    when "dusuk" then "bg-success"
    when "orta" then "bg-warning"
    when "yuksek" then "bg-danger"
    end %>

  <span class="badge <%= priority_class %>">
    <%= task.priority.humanize %>
  </span>

</td>


<td>

<div class="d-grid gap-2 d-md-flex">

<%= link_to "Göster", task, class: "btn btn-info btn-sm" %>
<%= link_to "Düzenle", edit_task_path(task), class: "btn btn-warning btn-sm" %>

<%= form_with model: task, method: :delete, class: "d-inline" do %>

<button type="button"
  class="btn btn-danger btn-sm w-100"
  onclick="showConfirm(
    'Sil',
    'Bu görev silinsin mi?',
    this.closest('form')
  )">

Sil

</button>

<% end %>

</div>

</td>

</tr>

<% end %>

</tbody>
</table>
</div>
