<h2>Görev Detayı</h2>

<p><strong>Başlık:</strong> <%= @task.title %></p>
<p><strong>Açıklama:</strong> <%= @task.description %></p>
<p>
  <strong>Durum:</strong>

  <% status_class =
      case @task.status
      when "bekliyor" then "bg-warning"
      when "devam_ediyor" then "bg-primary"
      when "tamamlandi" then "bg-success"
      end %>

  <span class="badge <%= status_class %>">
    <%= @task.status.humanize %>
  </span>
</p>

<p>
  <strong>Öncelik:</strong>

  <% priority_class =
      case @task.priority
      when "dusuk" then "bg-success"
      when "orta" then "bg-warning"
      when "yuksek" then "bg-danger"
      end %>

  <span class="badge <%= priority_class %>">
    <%= @task.priority.humanize %>
  </span>
</p>

<%= link_to "Düzenle",
  edit_task_path(@task),
  class: "btn btn-warning" %>

<%= link_to "Geri",
  tasks_path,
  class: "btn btn-secondary" %>
